{{#each products}}
  <div class="row">
    <div class="col-md-1 border">
      <img src="./images/{{filename}}" height="50" width="50" />
    </div>
    <div class="col-md-4 border">
      <h4>{{product_name}}</h4>
      {{! adjust later }}
    </div>
    <div class="col-md-3 border">
      <h4>Price: ${{price}}</h4>
    </div>
    <div class="col-md-3 border">
      <label for="{{cart.id}}">Quantity:</label>
      <input class="edit" type="text" id="c{{cart.id}}" name="quantity" value="{{cart.quantity}}" />
      {{!-- <h4>Quantity: {{cart.quantity}}</h4> --}}
      <button type="button" class="btn btn-secondary edit-list" data-orig="{{cart.quantity}}" data-val="{{stock}}" data-id="{{cart.id}}" data-descr="{{cart.product_id}}"> Edit </button>
    </div>
    <div class="col-md-1 border">
      <button
        class="btn btn-sm btn-danger cart-list"
        data-id="{{cart.id}}"
        data-descr="{{cart.product_id}}"
        data-orig="{{cart.quantity}}"
        data-val="{{stock}}"
      >DELETE</button>
    </div>
  </div>
{{/each}}
<div class="row">
  <h2> Your Subtotal: ${{find_sum products}} </h2>
  <h2> Grand Total After Tax: ${{get_tax (find_sum products)}} </h2>
  <button type="button" class="btn btn-outline-primary"><a
      href="/checkout"
    >Checkout</a></button>
</div>

<script src="../js/cart.js"></script>