<h2 id="alert"></h2>
<section class="container">
  <a class="text-decoration-none badge text-bg-success fs-6" href="/">Go back</a>
  <h3 class="category-name text-center fw-bold fs-1">{{category_name}}</h3>
  <section class="row">
    {{#each products as |product|}}
    {{#if product.stock}}
    <section class="card border m-auto mt-1 p-2 col-10 col-sm-10 col-md-5 col-lg-3 col-xl-2">
        <img src="/images/{{filename}}" height="300" width="300">
        <div class="card-body">
          <h5 class ="text-center fs-6 mb-5">{{product.product_name}}</h5>
          <p class="mb-0">Stock: {{product.stock}}</p>
          <p class="mb-3">Price: ${{product.price}}</p>
          <label for="quantity">quantity:</label>
          <input class="prodQuantity" min="1" type="number" id="p{{product.id}}"/>
          <button data-id="{{product.id}}" data-descr="{{product.product_name}}" data-val="{{product.stock}}" class="new-item-list btn btn-outline-success mt-1">Add to cart</button>
        </div>
    </section>
    {{else}}
    <section class="card border m-auto mt-1 sold-out p-2 col-10 col-sm-10 col-md-5 col-lg-3 col-xl-2">
      <img class="sold" src="/images/{{filename}}" height="300" width="300">
      <div class="centered sold-text">Sold Out</div>
      <div class="card-body">
        <h5 class ="text-center fs-6 mb-5">{{product.product_name}}</h5>
        <p class="mb-0">Stock: {{product.stock}}</p>
        <p class="mb-3">Price: ${{product.price}}</p>
        <label for="quantity">quantity:</label>
        <input class="prodQuantity" min="1" type="number" id="p{{product.id}}" disabled/>
        <button data-id="{{product.id}}" data-descr="{{product.product_name}}" data-val="{{product.stock}}" class="new-item-list btn btn-outline-success mt-1" disabled>Add to cart</button>
      </div>
    </section>
    {{/if}}
    {{/each}}
  </section>
</section>



<script src="../js/product.js"></script>