<section class="row">
  <section class="col-md-8 space col-sm-12 col-lg-8 ms-sm-2 ms-xs-2 checkout">
    {{#each products as |product|}}
      <div class="row">
        <div class="col-2 d-flex justify-content-center border">
          <img src="./images/{{filename}}" height="70" width="70">
        </div>
        <div class="col-4 d-flex justify-content-center border pt-4">
          <p>{{product_name}}</p>
        </div>
        <div class="col-3 d-flex justify-content-center border pt-4">
          <p>Price: ${{price}}</p>
        </div>
        <div class="col-3 d-flex justify-content-center border pt-4">
          <p>Quantity: {{cart.quantity}}</p>
        </div>
      </div>
    {{/each}}
    <div class="row col-12">
      <p class="subtotal"> Your Subtotal: ${{find_sum products}} </p>
      <p class="total">
        Grand Total After Tax: ${{get_tax (find_sum products)}}
      </p>
      <h3> * Orders are pick up only, pick up from your local Food City location! *</h3>
    </div>
  </section>

  <div class="col-md-3 col-sm-12 col-lg-3 ms-sm-2 ms-2 ">
    <h3 class="row">Enter your credit card information:</h3>
    <form id="checkout-form">
      <div class="row mb-3">
        <label for="card-number">Card number:</label>
        <input class="form-input" type="text" id="creditcard-num" />
      </div>
      <div class="row mb-3">
        <label for="holder-name">Name</label>
        <input class="form-input" type="text" id="name" />
      </div>
      <div class="row mb-3">
        <label for="expire-month">Expired Month :</label>
        <input class="form-input" type="number" id="month" />
      </div>
      <div class="row mb-3">
        <label for="expire-year">Expired Year:</label>
        <input class="form-input" type="number" id="year" />
      </div>
      <div class="row mb-3">
        <label for="address">Address:</label>
        <input class="form-input" type="address" id="address" />
      </div>
      <div class="row mb-3">
      {{#if products}}
        <button
          type="submit"
          class="btn btn-success"
          id="processpayment"
        >Process Payment</button>
      {{else}}
        <button
          type="submit"
          class="btn btn-success"
          id="processpayment" 
          disabled
        >Process Payment</button>
      {{/if}}
      </div>
    </form>
  </div>
</section>

<script src="./js/checkout.js"></script>