<section class="row">
  <section class="col-8 space">
    {{#each products as |product|}}
      <div class="row border">
        <div class="col-4 border">
          <h4>{{product_name}}</h4>
        </div>
        <div class="col-4 border">
          <h4>Price: ${{price}}</h4>
        </div>
        <div class="col-3 border">
          <h4>Quantity: {{cart.quantity}}</h4>
        </div>
      </div>
    {{/each}}
    <div class="row">
      <h2 class="border"> Your Subtotal: ${{find_sum products}} </h2>
      <h2 class="border"> Grand Total After Tax: ${{get_tax (find_sum products)}} </h2>
    </div>
  </section>

  <div class="col-3">
    <h3 class="row">Enter your credit card information:</h3>
    <form id="checkout-form">
      <div class="row mb-3">
        <label for="card-number">Card number:</label>
        <input class="form-input" type="text" id="creditcard-num" />
      </div>
      <div class="row mb-3">
        <label for="holder-name">Name</label>
        <input class="form-input" type="text" id="name" />
      </div>
      <div class="row mb-3">
        <label for="expire-month">Expired Month :</label>
        <input class="form-input" type="number" id="month" />
      </div>
      <div class="row mb-3">
        <label for="expire-year">Expired Year:</label>
        <input class="form-input" type="number" id="year" />
      </div>
      <div class="row mb-3">
        <label for="address">Address:</label>
        <input class="form-input" type="address" id="address" />
      </div>
      <div class="row mb-3">
        <button
          type="submit"
          class="btn btn-primary"
          id="processpayment"
        >Process Payment</button>
      </div>
    </form>
  </div>
</section>

<script src="./js/checkout.js"></script>